<div class="flex items-center">
    @if (!string.IsNullOrEmpty(PropertyInfo.ErrorText))
    {
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_103_172)">
                <path d="M6.64946 1.57397L10.9665 9.05097C11.0323 9.16499 11.0669 9.29432 11.0669 9.42597C11.0669 9.55762 11.0323 9.68695 10.9665 9.80097C10.9006 9.91498 10.806 10.0097 10.692 10.0755C10.5779 10.1413 10.4486 10.176 10.317 10.176H1.68296C1.55131 10.176 1.42198 10.1413 1.30797 10.0755C1.19396 10.0097 1.09928 9.91498 1.03346 9.80097C0.967636 9.68695 0.932983 9.55762 0.932983 9.42597C0.932984 9.29432 0.967639 9.16499 1.03346 9.05097L5.35046 1.57397C5.63896 1.07397 6.36046 1.07397 6.64946 1.57397ZM5.99996 7.49997C5.86736 7.49997 5.74018 7.55265 5.64641 7.64642C5.55264 7.74019 5.49996 7.86737 5.49996 7.99997C5.49996 8.13258 5.55264 8.25976 5.64641 8.35353C5.74018 8.4473 5.86736 8.49997 5.99996 8.49997C6.13257 8.49997 6.25975 8.4473 6.35352 8.35353C6.44729 8.25976 6.49996 8.13258 6.49996 7.99997C6.49996 7.86737 6.44729 7.74019 6.35352 7.64642C6.25975 7.55265 6.13257 7.49997 5.99996 7.49997ZM5.99996 3.99997C5.8775 3.99999 5.7593 4.04495 5.66778 4.12633C5.57626 4.20771 5.51779 4.31985 5.50346 4.44147L5.49996 4.49997V6.49997C5.50011 6.62741 5.5489 6.74999 5.63639 6.84266C5.72387 6.93533 5.84344 6.99109 5.97066 6.99856C6.09788 7.00603 6.22315 6.96464 6.32088 6.88284C6.41861 6.80105 6.48141 6.68502 6.49646 6.55847L6.49996 6.49997V4.49997C6.49996 4.36737 6.44729 4.24019 6.35352 4.14642C6.25975 4.05265 6.13257 3.99997 5.99996 3.99997Z" fill="#C60202" />
            </g>
            <defs>
                <clipPath id="clip0_103_172">
                    <rect width="12" height="12" fill="white" />
                </clipPath>
            </defs>
        </svg>
    }
    <span class="ml-xs text-red-500">@PropertyInfo.ErrorText</span>
</div>

@code {


    [Parameter] public Csla.Blazor.IPropertyInfo PropertyInfo { get; set; } = default!;
    
}

