mega-menu {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.group:hover .mega-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.mobile-menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

    .mobile-menu.open {
        transform: translateX(0);
    }
